@import '../../styles/variables';

.Header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.5vw;
  width: 100%;
  height: $header-height;
  background-color: $orange;
  color: $text-white;
  font-size: 1.3rem;
}