@import '../../styles/variables';

.LinkRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px 30px;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 15px;

  .title {
    color: $gray;
  }

  .item {
    a {
      color: $text-white;
      text-decoration: none;
    }
  }
}