$orange: #ee5e43;
$orange-hover: rgba(238, 127, 110, 0.72);
$dark-gray: #222222;
$middle-gray: rgb(139, 138, 138);
$gray: #c2c2c2;
$green: #447e4c;

$text-white: #ffffff;
$text-black: #00051b;

$header-height: 52px;
$footer-height: 275px;