$orange: #ee5e43;
$orange-hover: rgba(238, 94, 67, 0.72);
$dark-grey: #222222;
$gray: #a7a7a7;
$green: #447e4c;

$text-white: #ffffff;
$text-black: #00051b;

$header-height: 55px;
$footer-height: 275px;