@import '../../styles/variables';

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $footer-height;
  background-color: $dark-grey;
  color: $gray;
}