@import "../../styles/variables";

.Footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: $footer-height;
  background-color: $dark-gray;
  color: $gray;

  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 47%;
    height: 70%;
    color: $text-white;
  }
}
